#  Chapter 3:  Technical Indicators

In [8]:
# import dependencies

import pandas as pd
import datetime as dt
import numpy as np
from typing import List, Dict, Tuple, Any, Callable

from pypm import indicators

In [3]:
# import and load data...
# loading SPY DF...

df = pd.read_csv('data/SPY.csv')
df['date'] = pd.to_datetime(df['date'])
df.set_index(df['date'], inplace=True)
df.drop(columns=['date'], inplace=True)

In [4]:
df.head()

              open   close     low    high     volume
date
2010-01-04  112.37  113.33  111.51  113.39  118944600
2010-01-05  113.26  113.63  112.85  113.68  111579900
2010-01-06  113.52  113.71  113.43  113.99  116074400
2010-01-07  113.50  114.19  113.18  114.33  131091100
2010-01-08  113.89  114.57  113.66  114.62  126402800

## 3.1  Rolling Functions and Algorithms

### 3.1.1  Simple Moving Average

In [5]:
# calculating simple moving average (SMA) in pandas

def calculate_simple_moving_average(series: pd.Series, n: int=20) -> pd.Series:
    '''
    Calculates the simple moving average
    '''
    return series.rolling(n).mean()

In [10]:
print(calculate_simple_moving_average(df['close']))

date
2010-01-04         NaN
2010-01-05         NaN
2010-01-06         NaN
2010-01-07         NaN
2010-01-08         NaN
                ...
2019-12-24    316.1215
2019-12-26    316.5645
2019-12-27    316.9335
2019-12-30    317.2720
2019-12-31    317.7830
Name: close, Length: 2516, dtype: float64

### 3.1.2  Efficient Windowing Functions

In [12]:
# 3.2  calculating the simple moving average inefficiently, using pure python